
  <h1 class="display-1 text-center"><strong>About</strong></h1>
  <p class="text-center h4 font-weight-bold">ながのCAKEは全国発送可能なケーキ屋さんです<br>
  お子様からお年寄りの方までお召しいただけるよう、<br>
  さまざまなバリエーションをご用意しております<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください
  </p>
  
    <%= image_tag 'main_02.jpg',size: '800x300', class: "w-50 h-50 d-block mx-auto" %>
