<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">購入日時</th>
            <th scope="col">注文個数</th>
            <th scope="col">注文ステータス</th>
          </tr>
        </thead>
        <% @order.each do |o| %>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><%= o.created_at %></td>
              <td><%= o.quanitity %></td>
              <td><%= o.status %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>