<h4>注文履歴詳細</h4>
<div class="container">
  <div class="row">
    <div class="col-12">
      <% @order.each do |o| %>
        <table class="table">
          <tr>
            <td>購入者</td>
            <th></th>
          </tr>
          <tr>
            <td>注文日</td>
            <th></th>
          </tr>
          <tr>
            <td>配送先</td>
            <th></th>
          </tr>
          <tr>
            <td>支払方法</td>
            <th></th>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <th></th>
          </tr>
        </table>
      <% end %>      
    </div>
  </div>
</div>